
@import '../../../../libs/athlete/shared/theme/src/variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../../../../libs/shared/assets/fonts/font.scss";
html {

}
body {
  margin: 0;
  direction: rtl;
  font-family:'vazir';
  max-width: 25rem;
  margin: auto;
}
